.pwa-badge {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 16px;
    padding: 12px;
    border: 1px solid #8885;
    border-radius: 4px;
    z-index: 10000;
    text-align: left;
    box-shadow: 3px 4px 5px 0 #8885;
    background-color: white;
}

.pwa-toast {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.pwa-message {
    font-size: 14px;
}

.pwa-buttons {
    display: flex;
    gap: 8px;
}

.pwa-toast-button {
    border: 1px solid #8885;
    outline: none;
    margin-right: 5px;
    border-radius: 2px;
    padding: 3px 10px;
}