ALTER TABLE public.health_trackers DROP CONSTRAINT IF EXISTS health_trackers_type_check; ALTER TABLE public.health_trackers ADD CONSTRAINT health_trackers_type_check CHECK (type IN ('qualitative', 'quantitative', 'body_measurements'));
