CREATE TABLE IF NOT EXISTS public.bug_reports (
    id          UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    user_id     UUID REFERENCES public.profiles(id) ON DELETE CASCADE NOT NULL,
    description TEXT NOT NULL,
    status      TEXT DEFAULT 'pending' CHECK (status IN ('pending', 'in_progress', 'fixed')),
    admin_notes TEXT,
    created_at  TIMESTAMPTZ DEFAULT NOW(),
    updated_at  TIMESTAMPTZ DEFAULT NOW()
);

ALTER TABLE public.bug_reports ENABLE ROW LEVEL SECURITY;

DROP POLICY IF EXISTS \
Users
can
report
bugs\ ON public.bug_reports;
CREATE POLICY \Users
can
report
bugs\ ON public.bug_reports FOR INSERT WITH CHECK (auth.uid() = user_id);

DROP POLICY IF EXISTS \Users
can
view
own
reports\ ON public.bug_reports;
CREATE POLICY \Users
can
view
own
reports\ ON public.bug_reports FOR SELECT USING (auth.uid() = user_id);

DROP POLICY IF EXISTS \Admins
can
manage
bugs\ ON public.bug_reports;
CREATE POLICY \Admins
can
manage
bugs\ ON public.bug_reports FOR ALL USING (
    EXISTS (SELECT 1 FROM public.profiles WHERE id = auth.uid() AND role = 'admin')
);
